# --- Fichiers de build .NET ---
**/bin/
**/obj/
.vs/

# --- Configuration & Secrets .NET ---
appsettings.Development.json

# --- Fichiers de dépendances Angular ---
**/node_modules/
**/dist/
.angular/

# --- IDEs & Editeurs ---
.vscode/
*.user